<!-- ===========================
    career PAGE
    =========================== -->
<section class="job-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1>{{jobDetail.Name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <h2>Job Description</h2>
        <h4>GENERAL INTRODUCTION</h4>
        <p>You are the best of the best so we want you!
          Atlassian's design team is famous for our efforts to promote empathy with our users and helping the whole company become better at design, with tools like our persona library, the Atlassian Design Guidelines and the Product Development Playbook.
          We continually strive to deliver design excellence by creating a shared vision, shipping end to end experiences and creating good design, down to the details.</p>
        <h4>KEY RESULTS</h4>
        <ul>
          <li>Deliver projects in a lean and timely fashion</li>
          <li>Craft every screen and workflow for features being built by the Ho Chi Minh City team</li>
          <li>Contribute to user validation plans and activities</li>
          <li>Collaborate with development team and stakeholders to decide on workflows and details</li>
          <li>Communicate design decisions to development team to ensure the final outcome of a feature is pixel perfect</li>
        </ul>
        <h4>INTERNAL CONTACTS</h4>
        <p>Product Managers, Designers, Developers and QA Engineers in Ho Chi Minh City and Sydney.</p>
        <h2>Job Requirements</h2>
        <h4>KEY RESPONSIBILITIES</h4>
        <ul>
          <li>Producing visually compelling design solutions with a user centred approach, focused on site functionality, navigation and user interaction.</li>
          <li>Collaborating with PMs and development teams to visualise solutions and see them through to release in the product.</li>
          <li>Create design artefacts of the appropriate fidelity depending on the needs. This can range from sketching, to flat mockups, to visual designs and interactive HTML/CSS prototypes.</li>
          <li>Production of custom UI assets as required by the development team</li>
          <li>Using the Atlassian UI pattern library to craft consistent and compelling user interfaces, and identifying where the pattern library needs improvement</li>
          <li>Working closely with product managers, engineering and other stakeholders to identify problems and areas for improvement</li>
          <li>Coach and mentor other designers to help lift and skills and user experience maturity of those around you</li>
        </ul>
        <h4>PREFERRED EXPERIENCE/SKILLS</h4>
        <ul>
          <li>5+ years of hands-on experience as an Interaction Designer/UX Designer/UI Designer/Visual Designer.</li>
          <li>Proficient in various design techniques such as wireframing, sketching, prototyping, development of UI assets.</li>
          <li>Strong visual design skills from concept to pixel perfect screen mockups.</li>
          <li>Experience working in agile and lean environments.</li>
          <li>Passion for elegant design and incorporating innovative technologies.</li>
          <li>Strong understanding of current trends in HTML, JS and CSS coding and practice.</li>
          <li>Drive for learning new approaches and techniques</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form">
        <h2>Apply cho vị trí này</h2>
        <form role="form">
          <div class="row">
            <div class="col-md-12 has-float-label">
              <input class="form-control" placeholder=" " id="fullName">
              <label for="fullName">Tên đầy đủ</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 has-float-label">
              <input class="form-control" placeholder=" " id="E-mail">
              <label for="E-mail">E-mail</label>
            </div>
          </div>

          <button class="btn bg-primary" type="submit" id="send">Gửi</button>
        </form>

      </div>
    </div>
  </div>
</section>

