<!--about-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Xây dựng doanh nghiệp là yêu nước</h1>
                <p>Doanh nghiệp là hạt nhân tạo ra vật chất cho xã hội, một đất nước mạnh phải có nền kinh tế mạnh, muốn
                    kinh tế mạnh thì phải có đội ngũ doanh nhân, doanh nghiệp mạnh. Vậy nên, xây dựng doanh nghiệp là
                    góp phần kiến thiết đất nước, tạo ra sản phẩm cho xã hội, giải quyết công ăn việc làm, đóng thuế cho
                    Nhà nước. Nếu một đất nước mà mọi người đều có tinh thần khởi nghiệp, tạo ra một quốc gia khởi
                    nghiệp thì đất nước sẽ mạnh, sẽ nâng cao lợi thế cạnh tranh trên trường quốc tế. Vì vậy xây dựng
                    doanh nghiệp là yêu nước cùng với tinh thần khởi nghiệp kiến quốc. Các doanh nghiệp cần có nhiều
                    chương trình hỗ trợ khởi nghiệp, phải đưa được tinh thần khởi nghiệp đến với các bạn trẻ. Và tinh
                    thần khởi nghiệp ở đây không đơn thuần là chuyện kinh doanh, kiếm lợi nhuận mà là ý thức, sự dấn
                    thân của tuổi trẻ, cống hiến phục vụ cho đất nước.</p>
            </div>
        </div>
    </div>
</section>

<section class="about about2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Triết lý kinh doanh & trách nhiệm xã hội</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>An Tín Travel chỉ phát triển bền vững khi làm ăn chân chính, coi trọng đạo đức kinh doanh. Sự thành
                    công của An Tín Group là kết quả của quá trình tận tụy phục vụ khách hàng, tạo niềm tin với đối tác,
                    quan tâm đến người lao động, </p>
            </div>
            <div class="col-md-4">
                <p>và đóng góp thiết thực cho cộng đồng. Xây dựng An Tín Group trở thành cộng đồng hợp tác, cộng hưởng.
                    Chia sẻ tầm nhìn, chia sẻ giá trị, chia sẻ hài hòa lợi ích.</p>
            </div>
            <div class="col-md-4">
                <p>Lợi nhuận tuy rất quan trọng nhưng không phải là mục tiêu duy nhất phải đạt bằng mọi cách, mọi giá.
                    Lợi nhuận chỉ bền vững khi An Tín Group biết hy sinh những lợi ích ngắn hạn để xây dựng và giữ gìn
                    hình ảnh, uy tín của mình.</p>
            </div>
        </div>

    </div>
</section>

<!---->
<section class="about about3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>8 Giá Trị Cốt Lõi Của Công Ty</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">1</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan1.jpg" alt="">
                </div>
                <div class="copy">Coi trọng đạo đức</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">2</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan2.jpg" alt="">
                </div>
                <div class="copy">Hành xử chính trực</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">3</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan3.jpg" alt="">
                </div>
                <div class="copy">Hướng đến khách hàng</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">4</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan4.jpg" alt="">
                </div>
                <div class="copy">Đề cao hợp tác</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">5</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan5.jpg" alt="">
                </div>
                <div class="copy">Quý trọng hiền tài</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">6</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan6.jpg" alt="">
                </div>
                <div class="copy">Thực thi cam kết</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">7</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan7.jpg" alt="">
                </div>
                <div class="copy">Khuyến khích sáng tạo</div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="ovan">
                    <div class="num">8</div>
                    <img class="assets/img-responsive" src="assets/img/about/ovan8.jpg" alt="">
                </div>
                <div class="copy">Phát triển bền vững</div>
            </div>
        </div>
    </div>
</section>

<!---->
<section class="about about4">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-7">
                <div class="title">‘Hạnh phúc là được phục vụ cống hiến’</div>
                <div class="name">Tiến sĩ Nguyễn Đức Thọ</div>
                <div class="position">Chủ Tịch HĐQT,<br/>
                    Tổng Giám Đốc Công ty Truyền thông và Du lịch An Tín (An Tín Travel)</div>
            </div>
        </div>
    </div>
</section>

<!---->
<section class="about about5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>những Giá Trị Cốt Lõi Của Nhân Viên An Tín</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Xuất sắc</div>
                    <p>Mỗi nhân viên từ nhiều xuất phát điểm khác nhau, nhưng đến với An Tín Travel sẽ nhận được sự hỗ
                        trợ đào tạo, khơi dậy tối đa năng lực bản thân nhằm hoàn thiện và trở thành nhân viên xuất sắc,
                        đủ kiến thức, năng lực và đạo đức kinh doanh sẳn sàng phục vụ tốt nhất khách hàng.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Trung thành</div>
                    <p>Trung thành với mục tiêu và sự nghiệp chung của công ty.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Tinh thần đồng đội</div>
                    <p>Sự phối hợp trong công việc theo dây chuyền xuyên suốt, xuất phát từ sự thấu hiểu và làm đúng
                        chức năng của mỗi cán bộ - nhân viên, để thúc đẩy nhanh tiến độ thực hiện công việc và phục vụ
                        khách hàng một cách chuyên nghiệp nhất.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Chuyên nghiệp</div>
                    <p>Là mục tiêu và cũng là trách nhiệm của mỗi cán bộ, nhân viên không ngừng phấn đấu nhằm hoàn thiện
                        bản thân, thể hiện hình ảnh công ty trước khách hàng một cách hoàn hảo và chuyên nghiệp
                        nhất.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Trách nhiệm</div>
                    <p>Ở bất kỳ vị trí nào, dù lãnh đạo hay nhân viên, mỗi cá nhân phải luôn phấn đấu hết mình, thể hiện
                        tinh thần trách nhiệm cao nhất với công việc.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Chính trực</div>
                    <p>Sự trung thực là thước đo, là phẩm giá của nhân viên, đó là danh dự trước bản thân và khách
                        hàng.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Kỷ luật cao</div>
                    <p>Tính kỷ luật là cơ sở để cán bộ, nhân viên thực hiện nghiêm túc qui định chung của công ty, góp
                        phần mang lại hiệu quả cao cho hoạt động kinh doanh</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Đam mê</div>
                    <p>Công việc và sự hài lòng của khách hàng là niềm đam mê, là hạnh phúc to lớn để cán bộ, nhân viên
                        An Tín Travel gắn bó cùng đóng góp vì sự phát triển chung.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="title">Yêu thương</div>
                    <p>Mỗi cán bộ nhân viên An Tín Travel là một nốt nhạc của An Tín ca, mang thông điệp đoàn kết, gắn
                        kết yêu thương.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!---->
<section class="about about6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="assets/img-responsive" src="assets/img/about/img-about6.png" alt="">
            </div>
            <div class="col-md-6 text-center">
                <h6>Tiêu Chuẩn Nhân Viên An Tín</h6>
                <p>Nhân viên An Tín phải có hứng thú đối với sản phẩm của An Tín, nhất là những nhân viên phòng kinh
                    doanh. Chỉ khi hứng thú đối với sản phẩm của công ty thì nhân viên mới có được sự nhiệt tình và động
                    lực trong công việc. Nhưng nhân viên đó không được quá tin tưởng vào sản phẩm, cho rằng sản phẩm của
                    công ty mình luôn là sản phẩm tốt nhất, tiên tiến nhất,
                </p>
                <button type="button" class="btn bg-primary mar30">{{'I18n.common.viewmore' | translate}}</button>
            </div>
        </div>
    </div>
</section>

<!---->
<section class="about about7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img class="assets/img-responsive img" src="assets/img/about/about7.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="box-about7">
                    <div class="logo-blue">
                        <img class="assets/img-responsive" src="assets/img/about/logo-blue.png" alt="">
                    </div>
                    <div class="top">10 Quy Tắc Đạo Đức Nghề Nghiệp</div>
                    <div class="carousel-holder">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="title">Quy tắc 1: Tuân thủ pháp luật và quy định của An Tín Travel</div>
                                    <p>CBNV có trách nhiệm tuân thủ pháp luật các quy định và tiêu chuẩn của ngành, các
                                        thông lệ
                                        quốc tế; các quy định nội bộ của An Tín Travel và các tiêu chuẩn đạo đức phổ
                                        biến
                                        khác
                                        của xã hội nhằm hướng đến sự hoàn thiện bản thân. </p>
                                </div>
                                <div class="item">
                                    <div class="title">Quy tắc 2: Tuân thủ pháp luật và quy định của An Tín Travel</div>
                                    <p>CBNV có trách nhiệm tuân thủ pháp luật các quy định và tiêu chuẩn của ngành, các
                                        thông lệ
                                        quốc tế; các quy định nội bộ của An Tín Travel và các tiêu chuẩn đạo đức phổ
                                        biến
                                        khác
                                        của xã hội nhằm hướng đến sự hoàn thiện bản thân. </p>
                                </div>
                                <div class="item">
                                    <div class="title">Quy tắc 3: Tuân thủ pháp luật và quy định của An Tín Travel</div>
                                    <p>CBNV có trách nhiệm tuân thủ pháp luật các quy định và tiêu chuẩn của ngành, các
                                        thông lệ
                                        quốc tế; các quy định nội bộ của An Tín Travel và các tiêu chuẩn đạo đức phổ
                                        biến
                                        khác
                                        của xã hội nhằm hướng đến sự hoàn thiện bản thân. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!---->
<section class="about testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="carousel-holder">
                    <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonial" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="title"><div class="testimonial-left"></div> Hạnh phúc là được cống hiến<div class="testimonial-right"></div></div>
                                <div class="avatar"><img class="assets/img-responsive" src="assets/img/about/avatar1.png" alt=""></div>
                                <div class="name">TS Nguyễn Đức Thọ</div>
                                <div class="position">Chủ tịch HĐQT, TGĐ Công ty CP Truyền Thông và Du lịch An Tín</div>
                            </div>
                            <div class="item">
                                <div class="title"><div class="testimonial-left"></div> Antin Travel - Nơi kiến tạo những hành trình hạnh phúc<div class="testimonial-right"></div></div>
                                <div class="avatar"><img class="assets/img-responsive" src="assets/img/about/ovan1.jpg" alt=""></div>
                                <div class="name">TS Nguyễn Đức Thọ</div>
                                <div class="position">Chủ tịch HĐQT, TGĐ Công ty CP Truyền Thông và Du lịch An Tín</div>
                            </div>
                            <div class="item">
                                <div class="title"><div class="testimonial-left"></div> Nơi kiến tạo những hành trình hạnh phúc<div class="testimonial-right"></div></div>
                                <div class="avatar"><img class="assets/img-responsive" src="assets/img/about/avatar2.jpg" alt=""></div>
                                <div class="name">TS Nguyễn Đức Thọ</div>
                                <div class="position">Chủ tịch HĐQT, TGĐ Công ty CP Truyền Thông và Du lịch An Tín</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
