<!--tipa-->
<section class="event">
  <div class="container">
    <div class="row tips-list-title">
      <div class="col-md-12 nav-ovan">
        <ul>
          <li uiSref="tips.shopping" uiSrefActive="active">
            <div class="li-light-blue"><a class="bg-light-blue"><img src="assets/img/ic-tip8.svg" alt=""></a><span>Mua sắm</span></div>
          </li>
          <li uiSref="tips.visa" uiSrefActive="active">
            <div class="li-dark-blue"><a class="bg-dark-blue"><img src="assets/img/ic-tip6.svg" alt=""></a><span>Visa và thủ tục nhập cảnh</span></div>
          </li>
          <li uiSref="tips.train" uiSrefActive="active">
            <div class="li-blue"><a class="bg-blue"><img src="assets/img/ic-tip2.svg" alt=""></a><span>Phương tiện vận chuyển</span></div>
          </li>
          <li uiSref="tips.river" uiSrefActive="active">
            <div class="li-light-violet"><a class="bg-light-violet"><img src="assets/img/ic-tip5.svg" alt=""></a><span>Tập quán địa phương</span></div>
          </li>
          <li uiSref="tips.food" uiSrefActive="active">
            <div class="li-orange"><a class="bg-orange"><img src="assets/img/ic-tip3.svg" alt=""></a><span>Ẩm thực địa phương</span></div>
          </li>
          <li uiSref="tips.thing" uiSrefActive="active">
            <div class="li-red"><a class="bg-red"><img src="assets/img/ic-tip4.svg" alt=""></a><span>Hành lý và trang phục</span></div>
          </li>
          <li uiSref="tips.place" uiSrefActive="active">
            <div class="li-green"><a class="bg-green"><img src="assets/img/ic-tip7.svg" alt=""></a><span>Thông tin liên lạc</span></div>
          </li>
          <li uiSref="tips.all" uiSrefActive="active">
            <div class="li-primary"><a class="bg-primary"><img src="assets/img/ic-tip1.svg" alt=""></a><span>Khác</span></div>
          </li>
        </ul>
      </div>
    </div>

    <!-- <app-tip-list></app-tip-list> -->
    <div class="tips-list-detail">
      <ui-view></ui-view>
    </div>
  </div>
</section>
