<div class="page-container">
  <div class="header ">
    <div class=" pull-left sm-table">
      <div class="header-inner"> <a href="#" class="toggle-email-sidebar">Inbox <span class="text-info">(12)</span> <span class="caret"></span></a>
        <div class="brand inline"> <a href=""><img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22" uiSref="home"></a> </div>
        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
          <li class="p-r-20 inline">
            <button class="btn btn-complete btn-block btn-compose">New Campaign</button>
          </li>
          <li class="p-r-15 inline">
            <div class="dropdown"> <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown"> <span class="bubble"></span> </a>
              <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                <div class="notification-panel">
                  <div class="notification-body scrollable">
                    <div class="notification-item unread clearfix">
                      <div class="heading open"> <a href="#" class="text-complete"> <i class="pg-map fs-16 m-r-10"></i> <span class="bold">Carrot Design</span> <span class="fs-12 m-l-10">David Nester</span> </a>
                        <div class="pull-right">
                          <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                            <div><i class="fa fa-angle-left"></i> </div>
                          </div>
                          <span class=" time">few sec ago</span> </div>
                        <div class="more-details">
                          <div class="more-details-inner">
                            <h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br>
                              distinguishes between <br>
                              A leader and a follower.”</h5>
                            <p class="small hint-text"> Commented on john Smiths wall. <br>
                              via pages framework. </p>
                          </div>
                        </div>
                      </div>
                      <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read"> <a href="#" class="mark"></a> </div>
                    </div>
                    <div class="notification-item  clearfix">
                      <div class="heading"> <a href="#" class="text-danger"> <i class="fa fa-exclamation-triangle m-r-10"></i> <span class="bold">98% Server Load</span> <span class="fs-12 m-l-10">Take Action</span> </a> <span class="pull-right time">2 mins ago</span> </div>
                      <div class="option"> <a href="#" class="mark"></a> </div>
                    </div>
                    <div class="notification-item  clearfix">
                      <div class="heading"> <a href="#" class="text-warning-dark"> <i class="fa fa-exclamation-triangle m-r-10"></i> <span class="bold">Warning Notification</span> <span class="fs-12 m-l-10">Buy Now</span> </a> <span class="pull-right time">yesterday</span> </div>
                      <div class="option"> <a href="#" class="mark"></a> </div>
                    </div>
                    <div class="notification-item unread clearfix">
                      <div class="heading">
                        <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10"> <img width="30" height="30" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="" src="assets/img/profiles/1.jpg"> </div>
                        <a href="#" class="text-complete"> <span class="bold">Revox Design Labs</span> <span class="fs-12 m-l-10">Owners</span> </a> <span class="pull-right time">11:00pm</span> </div>
                      <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read"> <a href="#" class="mark"></a> </div>
                    </div>
                  </div>
                  <div class="notification-footer text-center"> <a href="#" class="">Read all notifications</a> <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#"> <i class="pg-refresh_new"></i> </a> </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class=" pull-right">
      <div class="visible-lg visible-md m-t-10">
        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading"> <span class="semi-bold">David</span> <span class="text-master">Nest</span> </div>
        <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="thumbnail-wrapper d32 circular inline m-t-5"> <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32"> </span> </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
            <li><a href="#"><i class="pg-settings_small"></i> Settings</a> </li>
            <li><a href="#"><i class="pg-outdent"></i> Payment</a> </li>
            <li><a href="#"><i class="pg-signals"></i> Profile</a> </li>
            <li class="bg-master-lighter"> <a href="#" class="clearfix"> <span class="pull-left">Logout</span> <span class="pull-right"><i class="pg-power"></i></span> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content-wrapper full-height">
    <div class="content full-height">
      <div class="email-wrapper">
        <div class="jumbotron" data-pages="parallax">
          <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 p0">
            <div class="row">
              <div class="col-md-3">
                <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
                  <div class="panel-heading top-left top-right ">
                    <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Budget </span> </div>
                    <div class="panel-controls">
                      <ul>
                        <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-body p-t-40">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="no-margin p-b-5 text-primary semi-bold">MYR 21,234.03</h4>
                        <div class="pull-left small"> <span>Pending</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                        <div class="pull-left m-l-20 small"> <span>Spent</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
                  <div class="panel-heading top-left top-right ">
                    <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Budget </span> </div>
                    <div class="panel-controls">
                      <ul>
                        <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-body p-t-40">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="no-margin p-b-5 text-primary semi-bold">MYR 21,234.03</h4>
                        <div class="pull-left small"> <span>Pending</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                        <div class="pull-left m-l-20 small"> <span>Spent</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
                  <div class="panel-heading top-left top-right ">
                    <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Campaigns </span> </div>
                    <div class="panel-controls">
                      <ul>
                        <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-body p-t-40">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="no-margin p-b-5 text-primary semi-bold">21</h4>
                        <div class="pull-left small"> <span>Running</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                        <div class="pull-left m-l-20 small"> <span>Pending</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
                  <div class="panel-heading top-left top-right ">
                    <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Influencers </span> </div>
                    <div class="panel-controls">
                      <ul>
                        <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-body p-t-40">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="no-margin p-b-5 text-primary semi-bold">44</h4>
                        <div class="pull-left small"> <span>Running</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                        <div class="pull-left m-l-20 small"> <span>Pending</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-transparent"> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-linetriangle">
                  <li class="active"> <a data-toggle="tab" href="#fade1"><span>All</span></a> </li>
                  <li> <a data-toggle="tab" href="#fade2"><span>Running</span></a> </li>
                  <li> <a data-toggle="tab" href="#fade3"><span>Done</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="fade1">
                    <div class="row column-seperation">
                      <div class="col-md-12">
                        <div class="panel panel-transparent">
                          <div class="panel-body">
                            <div class="table-responsive">
                              <form role="form">
                                <div class="form-group">
                                  <div class="input-prepend input-group"> <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    <div class="col-sm-12"> </div>
                                    <div class="col-sm-4">
                                      <input type="text" style="width: 100%" name="reservation" id="daterangepicker" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM">
                                    </div>
                                    <div class="col-sm-4"> </div>
                                    <div class="col-sm-4">
                                      <ul class="nav navbar-nav pull-right">
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print"><i class="fa fa-print"></i></a> </li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Download"><i class="fa fa-download"></i></a> </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <table class="table table-hover demo-table-search" id="tableWithSearch">
                                <thead>
                                  <tr>
                                    <th width="16%">Campaign Name</th>
                                    <th width="14%">Influencers</th>
                                    <th width="12%">Total Engagement</th>
                                    <th width="12%">Budget</th>
                                    <th width="14%">Date Created</th>
                                    <th width="16%">Duration</th>
                                    <th width="16%">Edit</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,000,000</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,000,000</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,989,898</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,989,898</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,989,898</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,000,000</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,000,000</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td class="v-align-middle semi-bold"><a href="">
                                      <p>This is a very long campaign name just to test the title section on dashboard</p>
                                      </a></td>
                                    <td class="v-align-middle"><a href="#" class="btn btn-tag">@thisismacjake</a><a href="#" class="btn btn-tag">@seanlon</a> <a href="#" class="btn btn-tag">@valerie</a><a href="#" class="btn btn-tag">@itssoheather</a></td>
                                    <td class="v-align-middle"><p>8,000,000</p></td>
                                    <td class="v-align-middle"><p>5,000.00 MYR</p></td>
                                    <td class="v-align-middle"><p>01 April 2017, 10:13am</p></td>
                                    <td class="v-align-middle"><p>13 May 2017 - 11 December 2017</p></td>
                                    <td class="v-align-middle"><div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-remove"></i> </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> </button>
                                      </div></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="fade2">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Data 2 </h3>
                        <p>Please Insert</p>
                        <br>
                        <p class="pull-right">
                          <button type="button" class="btn btn-default btn-cons">White</button>
                          <button type="button" class="btn btn-success btn-cons">Success</button>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="fade3">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Data 3 </h3>
                        <p>Please Insert</p>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 no-padding">
              <div class="container-fluid bg-white"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>