<!--services-->
<section class="details services">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 nav-ovan">
        <ul>
          <li uiSref="services.travel" uiSrefActive="active"><div class="li-blue"><a class="travel bg-blue"><img src="assets/img/ic-service1.svg" alt=""></a><span>Du lịch tự chọn</span></div></li>
          <li  uiSref="services.study" uiSrefActive="active"><div class="li-orange"><a class="study bg-orange"><img src="assets/img/ic-service2.svg" alt=""></a><span>Tư vấn du học</span></div></li>
          <li uiSref="services.airline" uiSrefActive="active"><div class="li-red"><a class="airline bg-red"><img src="assets/img/ic-service3.svg" alt=""></a><span>Vé máy bay</span></div></li>
          <li uiSref="services.hotel" uiSrefActive="active"><div class="li-violet"><a class="hotel bg-violet"><img src="assets/img/ic-service4.svg" alt=""></a><span>Phòng khách sạn</span></div></li>
        </ul>
      </div>
    </div>
    <div class="service-detail">
      <ui-view></ui-view>
    </div>
  </div>
</section>
